.sliderContainer {
    @apply relative;
}
.sliderContainer .bar {
    @apply absolute z-[1] w-full h-[5px] bg-[#272727] overflow-hidden rounded-[10px] left-0 top-[0.6em];
}
.sliderContainer .bar .fill {
    @apply block w-[0%] h-full bg-[#989898];
}
.sliderContainer .slider {
    @apply relative z-[2] w-full h-2.5 bg-transparent rounded-[10px];
    -webkit-appearance: none;
    outline: none;
}
.sliderContainer .slider::-webkit-slider-thumb {
    @apply invisible w-2.5 h-2.5 bg-[#1cb955] cursor-pointer transition-[0.2s] duration-[ease-in-out] rounded-[50%];
    -webkit-appearance: none;
    outline: none;
}
.sliderContainer:hover .slider::-webkit-slider-thumb {
    @apply visible;
}
.sliderContainer .slider::-moz-range-thumb {
    @apply invisible w-2.5 h-2.5 bg-[#1cb955] cursor-pointer transition-[0.2s] duration-[ease-in-out] rounded-[50%] border-[none];
    -webkit-appearance: none;
    outline: none;
}
.sliderContainer:hover .slider::-moz-range-thumb {
    @apply visible;
}
