
.sliderContainer {
    position: relative;
}

.sliderContainer .bar {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0.535em;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #272727;
    overflow: hidden;
}

.sliderContainer .bar .fill {
    display: block;
    width: 0;
    height: 100%;
    background-color: #989898;
}

.sliderContainer .slider {
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
}

.sliderContainer .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    visibility: hidden;
    width: 10px;
    height: 10px;
    background-color: #1cb955;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: .2s ease-in-out;
}

.sliderContainer:hover .slider::-webkit-slider-thumb{
    visibility: visible;
}

.sliderContainer .slider::-moz-rangea-thumb{
    -webkit-appearance: none;
    visibility: hidden;
    width: 10px;
    height: 10px;
    background-color: #1cb955;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: .2s ease-in-out;
}

.sliderContainer:hover .slider::-moz-range-thumb{
    visibility: visible;
}