.input {
    @apply relative appearance-none w-[30px] h-[18px] shadow-[inset_0_0_5px_rgba(0,0,0,0.2)] transition-[0.25s] m-0 p-0 rounded-[20px] before:content-[""] before:absolute before:w-3 before:h-3 before:transition-[0.25s] before:rounded-[50%] before:left-[3.5px] before:top-[3.25px] checked:before:left-[14px];
    -webkit-appearance: none;
    background: grey;
    outline: none;
}
.input:checked {
    background: #1cb955;
}

.input:checked:before  {
    background: white;
}

.input:before {
    background: black;
}